
NetCore.PDF.to.PNG.Single.Example/.vs/NetCore.PDF.to.PNG.Single.Example/v16/.suo
NetCore.PDF.to.PNG.Single.Example/.vs/NetCore.PDF.to.PNG.Single.Example/v16/Server/sqlite3/db.lock
NetCore.PDF.to.PNG.Single.Example/.vs/NetCore.PDF.to.PNG.Single.Example/v16/Server/sqlite3/storage.ide
NetCore.PDF.to.PNG.Single.Example/.vs/NetCore.PDF.to.PNG.Single.Example/v16/Server/sqlite3/storage.ide-shm
NetCore.PDF.to.PNG.Single.Example/.vs/NetCore.PDF.to.PNG.Single.Example/v16/Server/sqlite3/storage.ide-wal
